<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>426795396848-q5amgd0vroltvmntq7r8fo8lhfqk8vpp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.426795396848-q5amgd0vroltvmntq7r8fo8lhfqk8vpp</string>
	<key>API_KEY</key>
	<string>AIzaSyBpwFrvuElPFYnXtac4Q-ZqDfma8PrZFGQ</string>
	<key>GCM_SENDER_ID</key>
	<string>426795396848</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.helloCaen.helloCaenApp</string>
	<key>PROJECT_ID</key>
	<string>hello-caen-test</string>
	<key>STORAGE_BUCKET</key>
	<string>hello-caen-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:426795396848:ios:ed952eba7ce202e8ef1c35</string>
</dict>
</plist>